<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="text-align: center; margin-top: 20px;" oncontextmenu="return false;">

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
            onclick="window.parent.user.showUser(window.parent.document.body)">
    <img src="/images/users.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Users
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
            onclick="window.parent.stock.listItems(window.parent.document.body)">
    <img src="/images/dist.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Inventory
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
            onclick="window.parent.stock.relocationFacilityList(window.parent.document.body)">
    <img src="/images/facility.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Relocation Facilities
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
     onclick="window.parent.proficiency.enterPTOfficialResult()">
    <img src="/images/facility.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    PT Official Results
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
     onclick="window.parent.quality.qualityControlApproval(window.parent.document.body)">
    <img src="/images/approval.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Quality Approval
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
     onclick="window.parent.proficiency.proficiencyTestApproval(window.parent.document.body)">
    <img src="/images/tests.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    PT Approval
</div>

</body>
</html>