<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="text-align: center; margin-top: 20px;" oncontextmenu="return false;">

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
            onclick="window.parent.landing.navPanel('/spec/users.spec')">
    <img src="/images/users.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Users
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
            onclick="window.parent.landing.showAlertMsg('Locations')">
    <img src="/images/locations.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Locations
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px; font-size: 16px !important;" class="button"
            onclick="window.parent.landing.showMsg('Inventory')">
    <img src="/images/inventory.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Inventory
</div>

</body>
</html>