<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disagregated Report</title>
    <link rel="stylesheet" href="/touchscreentoolkit/lib/stylesheets/touch-fancy.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <script src="/javascripts/jquery_3.1.0.min.js"></script>
    <script src="/javascripts/table2csv.js"></script>
</head>
<style type="text/css">
    .card {
        border: 2px solid black;
    }
    .card{
        margin-top:2%;
        border: 1px solid;
        border-collapse: collapse;
        width: 100%;
    }
    .card thead{
        border: 1px solid;
    }
    .card th{
        background: #6281a7;
        color: #ffffff;


    }
    .card th, .card td  {
        border: 1px solid;
        font-size: 0.9em;
        padding: 0.4em;
        
    }
    .card td{
        text-align: left;
        width: 30%;
    }
    .drill-down {
        text-decoration: none;
        color: black;
    }
</style>
<script>
    var path = window.location.href;
   
    var startDate = (path.match(/start_date\=(\d{4}\-\d{2}\-\d{2})/) ? path.match(/start_date\=(\d{4}\-\d{2}\-\d{2})/)[1] : "");

    var endDate = (path.match(/end_date\=(\d{4}\-\d{2}\-\d{2})/) ? path.match(/end_date\=(\d{4}\-\d{2}\-\d{2})/)[1] : "");

    function __$(id){
        return document.getElementById(id);
    }
    function loadIfrMain() {

        var url = "/views/disagregated_report_shell.html?start_date=" + startDate + "&end_date=" + endDate;

        document.getElementById("ifrMain").src = url;
    }
</script>


<body oncontextmenu="return false;" style="margin: 0px;">
<div style="visibility: hidden" id='startdate'></div>
<div style="visibility: hidden" id='enddate'></div>
<div style="background-color: rgb(98, 129, 167); color: rgb(238, 238, 238); padding: 2px;"><h2 align="center"
     >
        HIV Testing Services <br/>
        Disaggregation by service delivery report <br/>
        Facility Name : <span id="facility"></span> (<span id="quarter"></span>) 
</h2></div>

<!-- <div style="width: 100%;height: 10px;">
    <div style="width: 100%; height: 10px; ">
        <div id="progressbar" style="font-size: 2px; background: rgb(98, 129, 167); height: 10px; box-shadow: 1px 1px 2px black;">   
            &nbsp;
        </div>
    </div>    
</div> -->

<div style="height: calc(83vh - 80px); padding-left:1%; padding-right:1%">
    <iframe id="ifrMain" style="width: 100%; height: 100%; border: 1px solid rgb(98, 129, 167);" >

    </iframe>

</div>

<div style="background-color: rgb(51, 51, 51); height: 80px; overflow: hidden; padding: 0px;">&nbsp;
    <button class="green" style="float: right; margin: 10px 15px 15px; min-width: 140px;" id="nextButton"
            onclick="window.location = '/';">
        Finish
    </button>    
    <button class="blue" style="float: right; margin: 10px 0px 15px; min-width: 140px;padding: 0px; padding-left: 5px;" id="pdfButton"
            onclick="exportCSV();">
        <table style="margin: 0px;">
            <tr>
                <td>
                    Download csv
                </td>
            </tr>
        </table>
    </button>
</div>

<script>

    function exportCSV(){
        jQuery('#ifrMain').contents().find('#disagregated_csv').css('display', 'table-row');
        if (jQuery('#ifrMain').contents().find('#disagregated_csv').table2csv()){
            jQuery('#ifrMain').contents().find('#disagregated_csv').css('display', 'none')
        }
    }

    function ajaxRequest(url, id,callback) {


            var httpRequest = new XMLHttpRequest();

            httpRequest.onreadystatechange = function () {

                if (httpRequest.readyState == 4 && (httpRequest.status == 200 ||
                        httpRequest.status == 304)) {

                    if (httpRequest.responseText.trim().length > 0) {
                        var result = JSON.parse(httpRequest.responseText);

                        setTimeout(function(){

                            callback(result, id);

                        },500)   

                         
                    } else {

                        callback(undefined);

                    }

                }

            };
            try {
                httpRequest.open("GET", url, true);
                httpRequest.send(null);
            } catch (e) {
            }

    }

    function getQueryParams(qs) {
        qs = qs.split('+').join(' ');
        var params = {},
            tokens,
            re = /[?&]?([^=]+)=([^&]*)/g;

        while (tokens = re.exec(qs)) {
            params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
        }

        return params;
    }
    function getQuarter(){
        return  getQueryParams(window.location.href)['quarter']
    }
    ajaxRequest('/hts_disagreg_reports/site','facility',function(data){
                   __$('facility').innerHTML = data;
    });
    __$('quarter').innerHTML = getQueryParams(window.location.href)['quarter']
    loadIfrMain() ;

</script>
</body>
</html>