<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My Account</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="text-align: center; margin-top: 20px;">

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px;" class="button" onclick="window.parent.user.changePassword();">
    <img src="/images/password.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Change Password
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px;" class="button" onclick="window.parent.user.editUser(window.parent.document.body);">
    <img src="/images/edit_user.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Edit Demographics
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px;" class="button" onclick="window.parent.user.showUser(window.parent.document.body)">
    <img src="/images/profile.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    My Profile
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px;" class="button"
            onclick="window.parent.user.qualityControlTest();">
    <img src="/images/control.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Quality Control (QC)
</div>

<div style="display: inline-block; border: 1px solid #345db5; height: 120px; width: 160px; color: #345db5;
            text-align: center; padding-top: 15px; margin: 10px;" class="button"
            onclick="window.parent.user.proficiencyTest();">
    <img src="/images/proficiency_test.png" height="80" style="margin-bottom: 10px;"/>
    <br/>
    Proficiency Test (PT)
</div>

</body>
</html>