<html>
<head></head>
<body oncontextmenu="return false;">
<script src="/javascripts/usermanagement.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    user.init("/config/user.settings.json");

    var id = window.location.href.match(/\/([^\/]+)$/)[1];

    var socket = io.connect('/');
    socket.on('stats', function(data) {
        console.log('Connected clients on ' + data.id + ':', data.numClients);
    });

    socket.emit("init", {id: id});

    socket.on('newConnection', function(data) {

        var nsp = io('/' + id);

        nsp.on('hi ' + id, function(data){
            console.log(data);
        });

        socket.emit('demographics', {id: id});

        nsp.on('demographics', function(data){

            // console.log(data);

            var json = JSON.parse(data);

            if(json.names) {

                dashboard.data.data.names = json.names;

            } else if(json.addresses) {

                dashboard.data.data.addresses = json.addresses;

            } else if(json.gender) {

                dashboard.data.data.gender = json.gender;

            } else if(json.birthdate) {

                dashboard.data.data.birthdate = json.birthdate;

            } else if(json.birthdate_estimated) {

                dashboard.data.data.birthdate_estimated = json.birthdate_estimated;

            } else if(json.identifiers) {

                dashboard.data.data.identifiers = json.identifiers;

            } else if(json.programs) {

                dashboard.data.data.programs = json.programs;

            }

            var lastHIVTest = encodeURIComponent(dashboard.queryActiveObs("HTS PROGRAM",
                    (new Date()).format("YYYY-mm-dd"), "HTS VISIT", "Last HIV test"));

            if(lastHIVTest) {

                dashboard.setCookie("LastHIVTest", lastHIVTest, 0.3333);

            }

            var ageGroup = encodeURIComponent(dashboard.queryActiveObs("HTS PROGRAM", (new Date()).format("YYYY-mm-dd"),
                    "HTS CLIENT REGISTRATION", "Age Group"));

            if(ageGroup) {

                dashboard.setCookie("AgeGroup", ageGroup, 0.3333);

            }

            dashboard.refreshDemographics();

        })

    });

</script>
<script src="/javascripts/dashboard.js"></script>

<script>

    dashboard.init("/data/person.json", "/config/patient.modules.json", "http://localhost:3014");

</script>

<!--script src="/protocol_analyzer.js"></script>

<script>

    protocol.init("/spec/visit_data.spec");

</script-->
</body>
</html>
