<html>
<head></head>
<body oncontextmenu="return false;">
<script src="/modules/usermanagement.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    user.init("/config/user.settings.json");

    var id = window.location.href.match(/\/([^\/]+)$/)[1];

    var socket = io.connect('/');
    socket.on('stats', function(data) {
        console.log('Connected clients on ' + data.id + ':', data.numClients);
    });

    socket.emit("init", {id: id});

    socket.on('reject', function(json) {

        user.showMsg(json.message, "Oops!", "/");

    });

    socket.on('newConnection', function(data) {

        var nsp = io('/' + id);

        nsp.on('hi ' + id, function(data){
            // console.log(data);
        });

        nsp.on('kickout ' + id, function(data){
            // console.log(data);

            user.logout();

        });

        socket.emit('demographics', {id: id});

        nsp.on('demographics', function(data){

            if(!dashboard.data) {

                setTimeout(function(){

                    window.location = window.location.href;

                }, 100);

                return;

            }

            var json = JSON.parse(data);

            var done = false;

            if(json.names) {

                dashboard.data.data.names = json.names;

            } else if(json.addresses) {

                dashboard.data.data.addresses = json.addresses;

            } else if(json.gender) {

                dashboard.data.data.gender = json.gender;

            } else if(json.birthdate) {

                dashboard.data.data.birthdate = json.birthdate;

            } else if(json.birthdate_estimated) {

                dashboard.data.data.birthdate_estimated = json.birthdate_estimated;

            } else if(json.identifiers) {

                dashboard.data.data.identifiers = json.identifiers;

            } else if(json.programs) {

                dashboard.data.data.programs = json.programs;

            } else if(json.relationships) {

                dashboard.data.data.relationships = json.relationships;

            } else if(json.done) {

                done = true;

            }

            var lastHIVTest = encodeURIComponent(dashboard.queryActiveObs("HTS PROGRAM",
                    (new Date()).format("YYYY-mm-dd"), "HTS VISIT", "Last HIV test"));

            if(lastHIVTest) {

                dashboard.setCookie("LastHIVTest", lastHIVTest, 0.3333);

            }

            var ageGroup = encodeURIComponent(dashboard.queryActiveObs("HTS PROGRAM", (new Date()).format("YYYY-mm-dd"),
                    "HTS CLIENT REGISTRATION", "Age Group"));

            if(ageGroup) {

                dashboard.setCookie("AgeGroup", ageGroup, 0.3333);

            }

            dashboard.refreshDemographics(done);

        })

    });

</script>
<script src="/modules/dashboard.js"></script>

<script>

    dashboard.init("/data/person.json", "/config/patient.modules.json", "/config/dashboard.settings.json");

</script>

</body>
</html>
