<html>
<head></head>
<body oncontextmenu="return false;">
<script src="/modules/usermanagement.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

    user.init("/config/user.settings.json");

    var id = window.location.href.match(/\/([^\/]+)$/)[1];

</script>
<script src="/modules/dashboard.js"></script>
<script src="/modules/patient_registration.js"></script>

<script>

    patient.init("/config/patient.settings.json", user.getCookie("username"), "/config/patient.modules.json");

    dashboard.init("/data/person.json", "/config/patient.modules.json", "/config/dashboard.settings.json");

    if (dashboard.getCookie("today").trim().length == 0)
        dashboard.setCookie("today", (new Date()), 0.3333);

    if (Object.getOwnPropertyNames(Date.prototype).indexOf("format") < 0) {

        Object.defineProperty(Date.prototype, "format", {

            value: function (format) {

                var date = this;

                var result = "";

                if (!format) {

                    format = ""

                }

                var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                    "October", "November", "December"];

                if (format.match(/YYYY\-mm\-dd\sHH\:\MM\:SS/)) {

                    result = date.getFullYear() + "-" + window.parent.dashboard.padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
                            window.parent.dashboard.padZeros(date.getDate(), 2) + " " + window.parent.dashboard.padZeros(date.getHours(), 2) + ":" +
                            window.parent.dashboard.padZeros(date.getMinutes(), 2) + ":" + window.parent.dashboard.padZeros(date.getSeconds(), 2);

                } else if (format.match(/YYYY\-mm\-dd/)) {

                    result = date.getFullYear() + "-" + window.parent.dashboard.padZeros((parseInt(date.getMonth()) + 1), 2) + "-" +
                            window.parent.dashboard.padZeros(date.getDate(), 2);

                } else if (format.match(/mmm\/d\/YYYY/)) {

                    result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

                } else if (format.match(/d\smmmm,\sYYYY/)) {

                    result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

                } else {

                    result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

                }

                return result;
            }

        });

    }

    function printBarCodeTest(data, callback) {

        var data = dashboard.data.data;

        if (!data.identifiers['HTS Number'] || true)
            return;

        var accession_number = data.identifiers['HTS Number'].identifier

        var first_name = data.names[0]['First Name'];

        var last_name = data.names[0]['Family Name'];

        var text = "\nN\nq801\nQ329,026\nZT\nB50,180,0,1,5,15,120,N,\"" + accession_number + "\"\nA40,50,0,2,2,2,N,\"" +
                first_name + " " + last_name + "\"\nA40,96,0,2,2,2,N,\"" +
                accession_number.replace(/\B(?=([A-Za-z0-9]{3})+(?![A-Za-z0-9]))/g, "-") + " " +
                (parseInt(data.birthdate_estimated) == 1 ? "~" : "") + (new Date(data.birthdate)).format("dd/mmm/YYYY") +
                "(" + data.gender + ")\"\nA40,142,0,2,2,2,N,\"" + "" + "\"\nP1\n";

        dashboard.saveAs(text, callback);

    }

    dashboard.subscription.addEventlistener("done", function () {

        /*var check = dashboard.queryExistingObsArray("Referral for Re-Testing");

        if (Object.keys(check).length > 0) {

            if (dashboard.$("Pre-test counseling")) {

                dashboard.$("Pre-test counseling").click();

            }

        }*/

    })

    var tmrInterval = setInterval(function () {

        var date_today = new Date()

        window.parent.dashboard.queryExistingObsArray("Consent given to be contacted?", function (data) {

            if (data[date_today.format("YYYY-mm-dd")] == "Yes") {

                printBarCodeTest(null, function () {

                });

                clearInterval(tmrInterval);

            }

        });

    }, 200);

    var lastVisitInterval = setInterval(function () {

        if (dashboard.data.data.programs["HTS PROGRAM"]) {

            var patient_programs = dashboard.data.data.programs["HTS PROGRAM"].patient_programs;

            var patient_programs_key = Object.keys(patient_programs);

            var visits = patient_programs[patient_programs_key[0]].visits;

            var visits_keys = Object.keys(visits);

            var visit_date = visits_keys[0];

            var today = (dashboard.getCookie("today").trim().length <= 0 ? (new Date()) : (new Date(dashboard.getCookie("today")))).format("YYYY-mm-dd");

            if (visit_date < today) {

                dashboard.showMsg("", "Last visit summary on " + new Date(visit_date).format());

                var table = document.createElement("table");

                table.style.width = "90%";

                table.style.marginLeft = "5%";

                dashboard.$("msg.content").appendChild(table);

                dashboard.queryExistingObsArray("Last HIV test", function (data) {

                    var tr = document.createElement("tr");

                    table.appendChild(tr);

                    var td = document.createElement("th");

                    td.innerHTML = "Last HIV test";

                    td.style.width = "50%";

                    td.style.textAlign = "left";

                    tr.appendChild(td);

                    var td = document.createElement("td");

                    if (data[visit_date]) {

                        td.innerHTML = ": " + data[visit_date];

                    }

                    tr.appendChild(td);

                });

                dashboard.queryExistingObsArray("Result Given to Client", function (data) {

                    var tr = document.createElement("tr");

                    table.appendChild(tr);

                    var td = document.createElement("th");

                    td.style.textAlign = "left";

                    td.innerHTML = "Consent given to be tested";

                    td.style.width = "50%";

                    tr.appendChild(td);

                    var td = document.createElement("td");

                    if (data[visit_date]) {

                        td.innerHTML = ": Yes";

                    }
                    else {

                        td.innerHTML = ": No";
                    }

                    tr.appendChild(td);

                    var result = {
                        "New Negative": "N-",
                        "New Positive": "N+",
                        "New Inconclusive": "NIn",
                        "New Exposed Infant": "NEx",
                        "Confirmatory Inconclusive": "CIn",
                        "Confirmatory Positive": "C+"
                    }

                    var tr = document.createElement("tr");

                    table.appendChild(tr);

                    var td = document.createElement("th");

                    td.innerHTML = "Result Given to Client";

                    td.style.textAlign = "left";

                    td.style.width = "50%";

                    tr.appendChild(td);

                    var td = document.createElement("td");

                    if (data[visit_date]) {

                        td.innerHTML = ": " + result[data[visit_date]];

                    }

                    tr.appendChild(td);


                });

                dashboard.queryExistingObsArray("Appointment Date Given", function (data) {

                    var tr = document.createElement("tr");

                    table.appendChild(tr);

                    var td = document.createElement("th");

                    td.innerHTML = "Appointment Date";

                    td.style.textAlign = "left";

                    td.style.width = "50%";

                    tr.appendChild(td);

                    var td = document.createElement("td");

                    if (data[visit_date]) {

                        td.innerHTML = ": " + new Date(data[visit_date]).format();

                    }

                    tr.appendChild(td);

                });

            }

            clearInterval(lastVisitInterval);

        }


    }, 200);

    var disableRegistration = setInterval(function () {

        if (window.parent.dashboard.data.data.identifiers["National id"] &&
                (window.parent.dashboard.data.data.addresses["Current District"] ||
                (window.parent.dashboard.data.data.attributes && window.parent.dashboard.data.data.attributes["Cell Phone Number"]))) {

            window.parent.dashboard.workflow.splice(window.parent.dashboard.workflow.indexOf("Client Registration"), 1);

            window.parent.dashboard.$("Client Registration").className = "disabled";

            clearInterval(disableRegistration);

        }

    }, 200);


</script>

</body>
</html>
