<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Room Allocations</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="text-align: center; margin: 20px;" oncontextmenu="return false;">

<table width="100%" style="border: 1px solid #305d97; margin-top: 10px; font-size: 24px;" cellpadding="10"
       cellspacing="0">
    <tr style="color: #305d97;">
        <td style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
            &nbsp;
        </td>
        <th style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
            Room State
        </th>
        <th style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
            Latest Activity
        </th>
        <th style="border-right: 1px solid #305d97; border-bottom: 1px solid #305d97;">
            AVG Waiting
        </th>
        <th style="border-bottom: 1px solid #305d97;">
            Seen Today
        </th>
    </tr>

    <tr>
        <td style="border-right: 1px solid #305d97;">
            Room 1
        </td>
        <td style="border-right: 1px solid #305d97; padding-left:20px; text-align: left;">
            In Session (admin)
        </td>

        <td style="font-size:16px;border-right: 1px solid #305d97; text-align: center; padding-left:20px;">
            IN SESSION <br/>
            <span style="font-size:12px;font-style: italic;"> (On 01-Jun-2016 at 08:51 am) </span>
        </td>
        <td style="font-size:20px;border-right: 1px solid #305d97; text-align: center;">
            0hr, 0min, 28sec
        </td>
        <td style="text-align: center;">
            0
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97;">
            Room 2
        </td>
        <td style="border-right: 1px solid #305d97; padding-left:20px; text-align: left;">
            Free
        </td>

        <td style="border-right: 1px solid #305d97; text-align: center; padding-left:20px;">
            <i>--</i>
        </td>
        <td style="font-size:20px;border-right: 1px solid #305d97; text-align: center;">
            --
        </td>
        <td style="text-align: center;">
            --
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97;">
            Room 3
        </td>
        <td style="border-right: 1px solid #305d97; padding-left:20px; text-align: left;">
            Free
        </td>

        <td style="border-right: 1px solid #305d97; text-align: center; padding-left:20px;">
            <i>--</i>
        </td>
        <td style="font-size:20px;border-right: 1px solid #305d97; text-align: center;">
            --
        </td>
        <td style="text-align: center;">
            --
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid #305d97;">
            Room 4
        </td>
        <td style="border-right: 1px solid #305d97; padding-left:20px; text-align: left;">
            Free
        </td>

        <td style="border-right: 1px solid #305d97; text-align: center; padding-left:20px;">
            <i>--</i>
        </td>
        <td style="font-size:20px;border-right: 1px solid #305d97; text-align: center;">
            --
        </td>
        <td style="text-align: center;">
            --
        </td>
    </tr>

    <tr>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97;">
            Summary
        </td>

        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
            1-<i>In Session</i> <br>3-<i>Free</i>
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
            &nbsp;
        </td>
        <td style="border-right: 1px solid #305d97; border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
            0hr, 0min, 28sec
        </td>
        <td style="border-top: 1px solid #305d97; font-weight: bold; color: #305d97; text-align: center;">
            Total: 0
        </td>
    </tr>
</table>
</body>
</html>