{
  "basePath": "http://192.168.18.249:3015",
  "modulesPath": "/config/landing.modules.json",
  "barcodePath": "/patient/",
  "savePath": "/save_other",
  "dummyPatientCreatePath": "/save_dummy_patient",
  "facilityPath": "/facility"
}