{
  "basePath": "http://192.168.18.251:3015",
  "modulesPath": "/config/landing.modules.json",
  "barcodePath": "/fetch_remote_if_not_exists/",
  "savePath": "/save_other",
  "dummyPatientCreatePath": "/save_dummy_patient",
  "facilityPath": "/facility",
  "useStartSessionButton": true,
  "afterCreatePath": "/save_patient",
  "supervisor": "HTS Coordinator",
  "prefix": "HTS",
  "locationsSearch": "/search_location/",
  "saveLocationPath": "/save_location",
  "updateLocationPath": "/update_location",
  "retireLocationPath": "/retire_location"
}